*{
    box-sizing: border-box;
}
body{
    font-family:'Inter', sans-serif ;
    margin:0;
    background: linear-gradient(to right, #081b29, #112233);
    color: rgba(255, 255, 255, 0.7);
}
.navbar a
{
    color: white;
    font-size: larger;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.navbar nav{
    padding:20px 10px;
    display: flex;
    justify-self: flex-end;
    gap: 80px;
    margin: 15px auto;
    border: 1px solid rgba(255, 255, 200, 0.7);
    border-radius: 20px;
}

section h1 {
    font-weight: bold;
    font-size: 3rem;
    text-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    animation: typing 2s steps(15) infinite alternate-reverse,  blink 0.7s infinite;
}
@keyframes typing
{
    from{
        width: 0;
    }
    to {
         width: 100%;
    }
  


}
@keyframes blink
{ 
    50%{
        border-color: transparent;
    }
}